<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>FLIGHTS INDEX</title>
</head>
<body>




  <table>
    <thead>
      <th>Airline</th>
      <th>Airport</th>
      <th>FlightNo</th>
      <th>Departure</th>
      <th>Details</th>
    </thead>


    <tbody>
      <% flights.forEach(function(f){ %>
      <tr> 
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.depart %></td>
        <td><a href="/flights/<%= f._id %>">Details</a></td>
      </tr>

      <% }); %>
      
    </tbody>



  </table>

  <br>
  <a href="flights/new">NEW FLIGHT</a>
  
</body>
</html>