<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOW</title>
</head>
<body>


  <ul>
    <label>AIRLINE</label>
    <li><%= flights.airline %> </li> 

    <label>FlightNo</label>
    <li><%= flights.flightNum %></li> 

    <label>airport</label>
    <li><%= flights.airport %></li>

    <label>Departure</label>
    <li><%= flights.departs %></li> 

    <li>Destination: </li>

    <% if(flights.destination != 0) { %>
      <% flights.destination.forEach(function(f) { %>
        <li><%= f.airport %></li>
        <li><%= f.arrival %></li>
      <% }); %>
    <% }; %>
  </ul>
  
  <form action="/flights/<%=flights._id %>/details" method="POST">
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DAL">TX</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="SEA">SEA</option>
    </select>
    <input type="date" name="arrival"></input>
    <button type='submit'>Submit</button>
  </form>
  
  <a href="/tickets/new">Ticket</a>
</body>
</html>